aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==24.3.0
blinker==1.9.0
Brotli 
Cartopy==0.24.1
certifi 
charset-normalizer 
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
datasets==3.2.0
dill==0.3.8
distro==1.9.0
Django==5.1.4
et_xmlfile==2.0.0
exceptiongroup==1.2.2
filelock 
Flask==3.1.0
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.9.0
gmpy2 
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.0
idna 
itsdangerous==2.2.0
Jinja2 
jiter==0.8.2
kiwisolver==1.4.8
lxml==5.3.0
MarkupSafe 
matplotlib==3.10.0
mkl-fft 
mkl-service==2.4.0
mpmath 
multiprocess==0.70.16
networkx 
numpy 
openai==1.58.1
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow
propcache==0.2.1
pyarrow==18.1.0
pydantic==2.10.4
pydantic_core==2.27.2
pyparsing==3.2.0
pyproj==3.7.0
pyshp==2.3.1
PySocks 
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.2
PyYAML 
regex==2024.11.6
requests 
safetensors==0.4.5
sentencepiece==0.2.0
shapely==2.0.6
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
sympy 
tokenizers==0.21.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.67.1
transformers==4.47.1
typing_extensions 
urllib3 
Werkzeug==3.1.3
xxhash==3.5.0
yarl==1.18.3
